<div class="login-wrapper">
  <!-- Mitad izquierda con imagen -->
  <div class="login-left">
    <img src="assets/images/girl_login.jpg" alt="Ilustración izquierda" />
  </div>

  <!-- Mitad derecha con login -->
  <div class="login-right">
    <div class="logo-container">
      <img src="assets/images/logo_HD.png" alt="Flamme Rouge Logo" />
    </div>

    <div class="login-box">
      <h1 class="login-title">Flamme Rouge</h1>
      <h2 class="login-title">Login</h2>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <app-input-custom [type]="'email'" [placeholder]="'Email'" [controles]="emailControl"
          name="email"></app-input-custom>
        <app-input-custom [type]="'password'" [placeholder]="'Contraseña'" [controles]="passwordControl"
          name="password"></app-input-custom>
         <button type="submit" class="btn-custom" [disabled]="loginForm.invalid">Iniciar Sesión</button>

        <div class="extra-links">
          <a routerLink="/auth/register" class="link">¿No tienes cuenta? Regístrate</a>
          <a routerLink="/forgot-password" class="link">¿Olvidaste tu contraseña?</a>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Footer global -->
<footer class="page-footer">
  <p>2025 © Flamme Rouge | Todos los derechos reservados</p>
</footer>
<app-loader *ngIf="loader"></app-loader>