<div class="login-wrapper">
  <!-- Mitad izquierda con imagen -->
  <div class="login-left">
    <img src="assets/images/girl_login.jpg" alt="Ilustración izquierda" />
  </div>

  <!-- Mitad derecha con login -->
  <div class="login-right">
    <div class="login-topbar">
      <a routerLink="/home" class="back-home-btn" [title]="'LOGIN.GO_HOME' | translate">
        <i class="bi bi-arrow-left"></i>
        <span>{{ 'LOGIN.GO_HOME' | translate }}</span>
      </a>
      <app-flags 
        [flagOptions]="flagOptions" 
        [selectedFlagUrl]="selectedFlagUrl" 
        [currentLang]="currentLang" 
        (translate)="setFlag($event)">
      </app-flags>
    </div>
    <div class="logo-container">
      <img src="assets/images/logo_HD.png" alt="Flamme Rouge Logo" />
    </div>

    <div class="login-box">
      <h1 class="login-title">{{ 'LOGIN.TITLE' | translate }}</h1>
      <h2 class="login-title">{{ 'LOGIN.SUBTITLE' | translate }}</h2>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <app-input-custom
          [type]="'email'"
          [placeholder]="'LOGIN.EMAIL_PLACEHOLDER' | translate"
          [controles]="emailControl"
          name="email">
        </app-input-custom>
        <app-input-custom
          [type]="'password'"
          [placeholder]="'LOGIN.PASSWORD_PLACEHOLDER' | translate"
          [controles]="passwordControl"
          name="password">
        </app-input-custom>
         <button type="submit" class="btn-custom" [disabled]="loginForm.invalid">
          {{ 'LOGIN.SUBMIT' | translate }}
        </button>

        <div class="extra-links">
          <a routerLink="/auth/register" class="link">
            {{ 'LOGIN.NO_ACCOUNT' | translate }} {{ 'LOGIN.REGISTER' | translate }}
          </a>
          <a routerLink="/forgot-password" class="link">{{ 'LOGIN.FORGOT_PASSWORD' | translate }}</a>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Footer global -->
<footer class="page-footer">
  <p>{{ 'LOGIN.FOOTER' | translate }}</p>
</footer>
<app-loader *ngIf="loader"></app-loader>