<!-- Vista inicial (elegir tipo de registro) -->
<div class="register-container" *ngIf="activeSection === 'choose'">
  <div class="login-topbar">
    <a routerLink="/auth/login" class="back-home-btn" [title]="'REGISTER.BACK_TO_LOGIN' | translate">
      <i class="bi bi-arrow-left"></i>
      <span>{{ 'REGISTER.BACK_TO_LOGIN' | translate }}</span>
    </a>
    <div class="lang-switch" aria-label="Language selector">
      <button
        class="lang-btn"
        type="button"
        *ngFor="let flag of flagOptions"
        (click)="setFlag(flag)"
        [class.active]="flag.lang === currentLang"
        [attr.aria-label]="flag.label">
        <img [src]="flag.url" [alt]="flag.label" />
      </button>
    </div>
  </div>
  <!-- Mitad izquierda: Anunciante -->
  <div class="register-half">
    <img src="assets/images/chica_anuncio.jfif" alt="Anunciante" class="register-img" />
    <div class="overlay">
      <h2>{{ 'REGISTER.ADVERTISER_TITLE' | translate }}</h2>
      <p>{{ 'REGISTER.ADVERTISER_DESC' | translate }}</p>
      <button class="btn-custom" (click)="handleActivateSection('anunciante')">
        {{ 'REGISTER.ADVERTISER_CTA' | translate }}
      </button>
    </div>
  </div>

  <!-- Mitad derecha: Usuario -->
  <div class="register-half">
    <img src="assets/images/usuario.jfif" alt="Usuario" class="register-img" />
    <div class="overlay">
      <h2>{{ 'REGISTER.USER_TITLE' | translate }}</h2>
      <p>{{ 'REGISTER.USER_DESC' | translate }}</p>
      <button class="btn-custom" (click)="handleActivateSection('usuario')">
        {{ 'REGISTER.USER_CTA' | translate }}
      </button>
    </div>
  </div>
</div>

<!-- Vista Registro Usuario -->
 <ng-container *ngIf="activeSection === 'usuario'">
  <div class="form-container" *ngIf="activeSection === 'usuario'">
    <div class="login-topbar-register">
      <button class="back-home-btn" type="button" (click)="handleActivateSection('choose')">
        <i class="bi bi-arrow-left"></i>
        <span>{{ 'COMMON.BACK' | translate }}</span>
      </button>
    </div>
  <!-- Mitad izquierda: Formulario -->
  <div class="form-half">
    <app-user-register-form></app-user-register-form>
  </div>

  <!-- Mitad derecha: Imagen -->
  <div class="form-half">
    <img src="assets/images/usuario_after.jpeg" alt="Imagen usuario" class="img-half" />
  </div>
</div>
 </ng-container>


<!-- Vista Registro Anunciante -->
 <ng-container *ngIf="activeSection === 'anunciante'">
  <div class="form-container" *ngIf="activeSection === 'anunciante'">
    <div class="login-topbar-register">
      <button class="back-home-btn" type="button" (click)="handleActivateSection('choose')">
        <i class="bi bi-arrow-left"></i>
        <span>{{ 'COMMON.BACK' | translate }}</span>
      </button>
    </div>
  <!-- Mitad izquierda: Formulario -->
  <div class="form-half">
    <app-advertisers-register-form></app-advertisers-register-form>
  </div>

  <!-- Mitad derecha: Imagen -->
  <div class="form-half">
    <img src="assets/images/chica_anuncio_after.jpeg" alt="Imagen anunciante" class="img-half" />
  </div>
</div>
 </ng-container>
 <app-loader *ngIf="loader"></app-loader>
