<div class="logout-dialog-container">
  <!-- Logo -->
  <img src="assets/images/logo_HD.png" alt="Logo" class="logout-dialog-logo" width="200" height="200" />

  <hr class="logout-dialog-divider" />

  <!-- Título -->
  <div class="logout-dialog-title">
    ⚠️ {{ 'LOGOUT_DIALOG.TITLE' | translate }}
  </div>

  <!-- Mensaje personalizado -->
  <div class="logout-dialog-message">
    <span>{{ 'LOGOUT_DIALOG.GREETING' | translate }}</span>
    <b>{{ userName ? ( userName + ', ') : '' }}</b>
    <span>{{ 'LOGOUT_DIALOG.MESSAGE' | translate }}</span>
  </div>

  <!-- Botones -->
  <div class="logout-dialog-actions">
    <button mat-flat-button class="btn-custom" (click)="onConfirm()">
      {{ 'LOGOUT_DIALOG.CONFIRM' | translate }}
    </button>
    <button mat-stroked-button class="btn-custom-cancel" (click)="onCancel()">
      {{ 'LOGOUT_DIALOG.CANCEL' | translate }}
    </button>
  </div>
</div>
