<div class="home-container" *ngIf="!loader">
  <!-- BANNER -->
  <section>
    <app-banner-carousel [items]="carouselItems"></app-banner-carousel>
  </section>

  
<div class="container text-center">
  <div class="row">
    <div class="col-3" *ngFor="let card of anunciantes">
      <app-card
        [image]="card.imagesMain?.url || ''"
        [title]="card.displayName"
        [describe]="card.bio"
        [age]="card.age"
        [buttonUrl]="'/profile/' + card._id"
        (click)="goToProfile(card._id)">
      </app-card>
    </div>
  </div>
</div>

</div>
<app-loader *ngIf="loader"></app-loader>
