// Colores principales
$color-primary: #8C030E;   // Vinotinto
$color-accent: #A60F2B;    // Rojo (acciones)
$color-cream: #F2DBAE;     // Crema
$color-brown: #A68051;     // Marrón
$color-gray: #F2F2F2;      // Gris neutro

// Extras
$color-dark: #1C1C1C;      // Fondo oscuro alternativo
$color-light: #ffffff; 